.banner {
  position: relative;
  height: 470px;
  color: white;
  display: flex;
  overflow: hidden;
}

.banner__inner {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.banner__left {
  background-color: $blue;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    left: -100%;
    position: absolute;
    background-color: $blue;
    display: block;
    height: 100%;
    margin-left: 1px;
  }
}

.banner__right {
  margin-left: auto;
  width: 50%;
  box-sizing: border-box;
  background-image: url("../img/banner.jpg");
  background-size: cover;
}

.banner__text {
  font-size: 17px;
  padding-top: 85px;
}

.banner__title {
  font-size: 45px;
  font-weight: 700;
}

.banner__subtitle {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 70px;
}

.banner__btn {
  border: none;
  color: $text;
  font-size: 16px;
  width: 195px;
  height: 46px;
  background-color: white;
}
