.change-face {
  display: flex;
  max-width: 556px;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}

.change-face__wrapper {
  flex: 1;
  cursor: pointer;

  &.active {
    .change-face__btn {
      height: 5px;
      background-color: $blue;
    }
  }
}

.change-face__btn {
  border: none;
  width: 100%;
  height: 2px;
  cursor: pointer;
  background-color: #ccc;
  margin-bottom: 15px;
}

.change-face__text {
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}