.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;

  a {
    font-size: 17px;

    &:hover {
      color: $blue;
    }
  }
}

.footer-nav__list-title {
  font-weight: 700;
  margin-bottom: 10px;
}