.how-much-list__item {
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 5px;
    top: 50%;
    left: 0;
    margin-top: 2px;
    background-color: $blue;
  }
}