.map {
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 313px;
  margin-bottom: 70px;

  @media(max-width: 768px) {
    height: 167px;
  }
}