.nav {
  display: flex;

  a {
    position: relative;
    padding: 10px 15px;

    display: inline-block;
    color: $text;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: $blue;
      height: 5px;
      left: 50%;
      width: 0%;
      transition: width .3s ease-in-out;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }
}