.new__title {
  font-size: 22px;
  line-height: 30px;

  @media(max-width: 768px) {
    font-size: 18px;
    line-height: 25px;
  }
}

.new__quote {
  padding-left: 40px;
  border-left: 16px solid $blue;

  @media(max-width: 768px) {
    padding-left: 5px;
    border-left: 6px solid $blue;
  }
}