.other-guide-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  li {
    width: calc(100% / 3);
    margin-bottom: 10px;

    @media(max-width: 768px) {
      font-size: 16px;
    }

    @media(max-width: 400px) {
      width: 100%;
    }
  }
  @media(max-width: 768px) {
    margin-bottom: 40px;
  }
}